
    <h1 class="text-border" id="main-heading">About</h1>

    <img src="about_img.png" height="200" width="150" alt="Pirate Knight image: Tirose holding a weapon">

    <p class="text-border">This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. This is filler text, the Pirate Knight team requested to write their own text here. </p>
    