
    <h1 class="text-border" id="main-heading">Store</h1>
    
    <p>Order Pirate Knight here!</p>    

    <h1 id="availability"></h1>
    <button id="test_shop">Check Shop</button>
    <p></p>

    <!-- Display Shop Items Available -->
    <div id="cards"></div>

    <h2 id="footnote"></h2>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        // Check if jQuery is loaded from CDN, if not, load it from local
        if (typeof jQuery == 'undefined') {
            document.write('<script src="jquery-3.7.1.min.js"><\/script>');
        }
    </script>

    <!--<script src="store.js"></script> -->
    <script src="load-html-data.js"></script>
    <script src="load-xml-data.js"></script>
    <script src="load-json-data.js"></script>
    <script src="load-html2-data.js"></script>
